<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>New Post</h1>
<form action="/posts" method="post">
	Post Name: <input type="text" name="name"><br>
	Post Content: <textarea name="content"></textarea>
	<input type="submit" value="submit">
</form>
</body>
</html>